html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    color: white;
}

a {
    color: #f48939;
}

.btn-primary {
    background-color: #f48939;
    border-color: #fefae0;
    border-radius: 15px;
}

    .btn-primary:hover {
        background-color: #9f5c00;
        border-color: #fefae0;
    }

    .btn-primary:active {
        background-color: gray !important;
        border-color: #fefae0 !important;
        box-shadow: none !important;
    }

    .btn-primary:focus {
        box-shadow: none;
    }

    .btn-primary:disabled {
        background-color: #f48939;
        border-color: #fefae0;
        border-radius: 15px;
        box-shadow: none;
    }

.btn-danger {
    border-radius: 15px;
}

.page-link {
    color: white;
}

.active > .page-link {
    background-color: #f48939;
    border-color: white;
}

a.page-link:hover {
    color: gray;
}

a.page-link:focus {
    color: white;
    box-shadow: none;
}

.container-wrapper {
    flex: 1;
}

footer {
    flex-shrink: 0;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

#searchUrlBoxWrapper {
    padding-right: 130px;
    padding-left: 10px;
}

#searchUrlBox {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    #searchUrlBox .form-control {
        border-radius: 40px;
    }

#profileForm {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.value-box {
    border: solid 1px #f48939;
    border-radius: 20px;
    padding-inline: 30px;
}

.collection-value {
    padding-top: 10px;
    font-size: 20px;
}

    .collection-value .total-value {
        margin-right: 10px;
    }

        .collection-value .total-value:last-child {
            margin-right: 0;
        }

.figure-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding-top: 10px;
}

.figure-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
    border-radius: 20px;
    overflow: hidden;
    border: solid 2px #4a4a4a;
}

.figure-image {
    position: relative;
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.figure-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    padding: 5px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9));
    color: #fff;
    text-align: left;
    overflow: hidden;
    font-weight: 500;
    font-size: 20px;
}

.figure-info {
    list-style-type: none;
    padding: 10px;
    text-align: left;
    margin-bottom: 0px;
}

span.figure-price {
    font-weight: 700;
    color: #f48939;
}

.figure-info .title {
    font-weight: bold;
    margin-bottom: 5px;
}

div.figureImage {
    display: inline-block;
    max-width: 400px;
    text-align: center;
}

    div.figureImage img {
        max-width: 100%;
        display: block;
        border-radius: 20px;
    }

#leftSide {
    padding-right: 30px;
}

ul.figureInfo {
    max-width: 1000px;
    border-left: solid 2px #565656;
    border-radius: 20px;
    padding: 10px;
    color: white;
    list-style-type: none;
    text-align: start;
    font-size: 25px
}

img.mfc-logo {
    width: 60px;
}

span.mfc-logo-text {
    position: absolute;
    padding-left: 5px;
    font-size: 30px;
    bottom: 0;
}

div#figurePriceChart {
    border-radius: 20px;
    max-width: 100%;
}

.lowest-price, .highest-price {
    font-size: 20px;
}

div.lowMaxPrice {
    padding-top: 20px;
    padding-bottom: 20px;
}

div.sort-options-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

div.sort-options {
    padding-top: 10px;
}

a.refresh-button {
    border-color: transparent;
}

    a.refresh-button:hover {
        border-color: transparent;
    }

    a.refresh-button.disabled {
        border-color: transparent;
        background-color: dimgray !important;
    }

a.delete-button {
    border-radius: 15px;
    background-color: #f48939;
    border-color: transparent;
}

    a.delete-button:active {
        box-shadow: none;
        background-color: darkred !important;
    }

    a.delete-button:focus {
        box-shadow: none;
    }

    a.delete-button:hover {
        background-color: red;
    }

.input-unstyled {
    border: 1px solid #f48939;
    background: transparent;
    outline: none;
    box-shadow: none;
    padding: 0;
    margin: 0;
    width: 100px;
    text-align: center;
    border-radius: 20px;
}

    .input-unstyled:focus {
        border: 1px solid #ced4da;
        outline: none;
        box-shadow: none;
    }

    .input-unstyled::placeholder {
        color: #f48939;
        opacity: 1;
    }

    .input-unstyled:focus::placeholder {
        color: transparent;
    }

#currency-selector {
    margin-inline: 5px;
    width: 70px;
    border: 1px solid #f48939;
    color: #f48939;
    border-radius: 20px;
}

    #currency-selector:focus {
        border: 1px solid #ced4da;
        outline: none;
        box-shadow: none;
        color: #f48939;
    }

.progress-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    max-width: 900px;
    height: 100px;
}

.progress {
    height: 30%;
}

.progress-status {
    color: white;
    font-size: 0.9em;
}

.progress-bar {
    position: relative;
    background-color: #f48939;
    font-size: 1.4rem;
}

.progress-percentage {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
    color: white;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    cursor: not-allowed;
}

#aftermarketAds {
    max-height: 430px;
    overflow-y: auto;
    border-radius: 20px;
    border-left: 2px solid #565656;
    border-bottom: 2px solid #565656;
    border-top: 2px solid #565656;
    mask-image: radial-gradient(white, black);
}

.aftermarket-ads-container {
    display: flex;
    flex-direction: column;
}

    .aftermarket-ads-container a {
        text-decoration: none;
        color: white;
    }

        .aftermarket-ads-container a:hover {
            color: gray;
        }

        .aftermarket-ads-container a:focus {
            color: gray !important;
        }

div.figure-info-and-ads {
    display: flex;
    flex-direction: row;
}

span.percentage {
    padding-left: 10px;
}