html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    color: white;
}

a {
    color: #f48939;
}

.btn-primary {
    background-color: #f48939;
    border-color: #fefae0;
    border-radius: 15px;
}

    .btn-primary:hover {
        background-color: #9f5c00;
        border-color: #fefae0;
    }

    .btn-primary:active {
        background-color: gray !important;
        border-color: #fefae0 !important;
        box-shadow: none !important;
    }

    .btn-primary:focus {
        box-shadow: none;
    }

    .btn-primary:disabled {
        background-color: #f48939;
        border-color: #fefae0;
        border-radius: 15px;
        box-shadow: none;
    }

.page-link {
    color: white;
}

.active > .page-link {
    background-color: #f48939;
    border-color: white;
}

a.page-link:hover {
    color: gray;
}

a.page-link:focus {
    color: white;
    box-shadow: none;
}

.container-wrapper {
    flex: 1;
}

footer {
    flex-shrink: 0;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

#searchUrlBox {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

    #searchUrlBox .form-control {
        border-radius: 40px;
    }

#profileForm {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.value-box {
    border: solid 1px #f48939;
    border-radius: 20px;
    padding-inline: 30px;
}

.collection-value {
    padding-top: 10px;
    font-size: 20px;
}

    .collection-value .total-value {
        margin-right: 10px;
    }

        .collection-value .total-value:last-child {
            margin-right: 0;
        }

.figure-container {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    padding-top: 10px;
}

.figure-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 230px;
    border-radius: 20px;
    overflow: hidden;
}

.figure-image {
    position: relative;
    width: 100%;
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 20px;
}

.figure-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    padding: 5px;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.9));
    color: #fff;
    text-align: left;
    overflow: hidden;
    font-weight: 500;
    font-size: 20px;
}

.figure-info {
    list-style-type: none;
    padding: 10px;
    text-align: left;
}

span.figure-price {
    font-weight: 700;
    color: #f48939;
}

.figure-info .title {
    font-weight: bold;
    margin-bottom: 5px;
}

div.figureImage {
    display: inline-block;
    max-width: 400px;
    text-align: center;
}

    div.figureImage img {
        max-width: 100%;
        display: block;
        border-radius: 20px;
    }

ul.figureInfo{
    color: white;
    list-style-type: none;
    text-align: start;
    font-size: 25px
}

ul.figureInfo {
    max-width: 1000px;
    border: solid 2px #565656;
    border-radius: 20px;
    margin-left: 10px;
    padding: 10px;
}

img.mfc-logo {
    width: 60px;
}

span.mfc-logo-text {
    position:absolute;
    padding-left: 5px;
    font-size: 30px;
    bottom: 0;
}

div#figurePriceChart {
    border-radius: 20px;
    margin-left: 10px;
    max-width: 1000px;
}
