html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

.container-wrapper {
    flex: 1;
}

footer {
    flex-shrink: 0;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}

#searchUrlBox {
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profileForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
